body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Spectral", sans-serif;
  background-image: url(./bg.png);
  background-size: cover;
  background-position: center;
  color: black;
  position: relative;
  margin: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000099;
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  font-size: 24px;
  padding: 20px;
  color: #f4f2ce;
}

.title {
  text-align: center;
}

.link {
  color: #5ebbbd;
  font-weight: 600;
}
